.Projects {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

.Project1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.picture {
    width: 400px;
    height: auto;
}

.button {
    display: flex;
    justify-content: center;
}

.Project2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}