.right {
    margin: 80px;
}

h3 {
    display: flex;
    justify-content: center;
}

.jobTitle {
    padding: 10px;
}
p {
    
    padding: 10px;
}

.educatieTable {
    padding: 20px;
}

td {
    padding-right: 20px;
    padding-left: 20px;
}