.right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 80px;
}

.paragraph1 {
    width: 300px;
}

.job-responsibilities {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.jobTitle {
    display: flex;
    justify-content: center;
}


h3 {
    display: flex;
    justify-content: center;
}

.jobTitle {
    padding: 10px;
}
p {
    
    padding: 10px;
}

.educatieTable {
    padding: 20px;
}

td {
    padding-right: 20px;
    padding-left: 20px;
}