.header {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    top: 0;
    background-color: rgb(30, 121, 144);
    height: 60px;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: auto;
    padding: 10px;
}

.shortcuts {
    
    display: flex;
    padding: 10px;
}

.button {
    margin: 5px;
    position: relative;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    color: white;
    text-align: center;
}


