.contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

label {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.submitButton {
    width: 100px;
    height: 30px;
}

